.profile-container {
  width: 100%;
  background-color: transparent;
}
.profile {
  margin-left: 30%;
  height: 385px;
  width: 400px;
  background-color: white;
  margin-top: 150px;
}
.dp {
  width: 368px;
  padding: 15px 10px 0 18px;
  flex-shrink: 0;
}
.name {
  font-family: 'Courgette', cursive;
  margin-left: 32%;
  font-size: 45px;

  padding: 20px;
}
.container-name {
  background-color: whitesmoke;
  position: sticky;
  top: 0;
}